.container {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
}

.link {
    font-family: 'Merriweather', serif;
    /* Using the imported font */
    color: #5a4a42;
    /* Dark brown color for text, adjust as needed */
    text-decoration: none;
    /* Remove underline from links */
    margin: 0 15px;
    /* Spacing between menu items */
    font-size: 18px;
    /* Size of the menu items */
    font-weight: 700;
    /* Font weight for a bit of emphasis */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

.link:hover {
    color: #ff8c00;
    /* Change color on hover */
}

.heading {}

.hatenoHeading {
    font-family: 'Cinzel', serif;
    color: #4A4E69;
    /* A deep, sophisticated color; adjust as needed */
    font-size: 36px;
    /* Adjust based on your design needs */
    font-weight: 700;
    /* For a bold look */
    text-align: center;
    /* Center the heading */
    margin-left: 20px;
}

/* Add these styles to your navbar.module.css */
.userSection {
  display: inline-block;
  position: relative;
}

.dropdown {
  position: absolute;
  right: 0;
  background-color: #f9f9f9; /* Dropdown background, adjust as needed */
  border: 1px solid #ccc; /* Dropdown border, adjust as needed */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: none; /* Initially hidden */
  z-index: 1;
}

.dropdown.show {
  display: block; /* Show dropdown */
}


