.container {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    gap: 20px;
}

.link {
    font-family: 'Merriweather', serif;
    /* Using the imported font */
    color: #5a4a42;
    /* Dark brown color for text, adjust as needed */
    text-decoration: none;
    /* Remove underline from links */
    margin: 0 15px;
    /* Spacing between menu items */
    font-size: 18px;
    /* Size of the menu items */
    font-weight: 700;
    /* Font weight for a bit of emphasis */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

.link:hover {
    color: #ff8c00;
    /* Change color on hover */
}

.heading {}

.hatenoHeading {
    font-family: 'Cinzel', serif;
    color: #4A4E69;
    /* A deep, sophisticated color; adjust as needed */
    font-size: 36px;
    /* Adjust based on your design needs */
    font-weight: 700;
    /* For a bold look */
    text-align: center;
    /* Center the heading */
    margin-left: 20px;
}

/* Add these styles to your navbar.module.css */
.userSection {
  display: inline-block;
  position: relative;
}

.usernameBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; /* Adjust based on your navbar height */
  margin-right: 20px; /* Space from the right edge or next element */
  font-family: 'Merriweather', serif;
  /* Using the imported font */
  color: #5a4a42;
  /* Dark brown color for text, adjust as needed */
  text-decoration: none;
  /* Remove underline from links */
  margin: 0 15px;
  /* Spacing between menu items */
  font-size: 18px;
  /* Size of the menu items */
  font-weight: 700;
  /* Font weight for a bit of emphasis */
  transition: color 0.3s ease;
  /* Smooth transition for hover effect */
}

.usernameBtn::after {
  content: '▼'; /* Simple downward arrow */
  font-size: 0.8em; /* Smaller size for the arrow */
  margin-left: 5px; /* Small space between username and arrow */
}

.dropdown {
  position: absolute;
  right: 0;
  background-color: #f9f9f9; /* Dropdown background, adjust as needed */
  border: 1px solid #ccc; /* Dropdown border, adjust as needed */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  display: none; /* Initially hidden */
  z-index: 1;
}

.dropdown.show {
  display: block; /* Show dropdown */
}

.logoutBtn {
  background: none;
  border: none;
  padding: 10px 20px;
  display: block; /* Dropdown item as block */
  width: 100%; /* Full width */
  text-align: left; /* Align text to the left */
}

.logoutBtn:hover {
  background-color: #f0f0f0; /* Slight background on hover, adjust as needed */
}
